:root {
  //colors---------------
  --red: hsl(0, 78%, 62%);
  --white: #ffffff;
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --east-bay: #4c4e61;
  --mischka: #a3a5ae;
  --snow: #fafafa;

  //font weight--------------------
  --light-x: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --medium2: 600;
  --bold: 700;

  //font family---------------------
  --fontFamily: "Poppins", sans-serif;
}
